/ recommedation modal
%div{:class => "modal fade", :id => "recModal", :tabindex => "-1", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close",  :"data-dismiss"=> "modal" } &times;
          
        %h4.modal-title#myModalLabel Make a recommedation
      
      .modal-body
        = form_for @recommendation do |f|
          - if @recommendation.errors.any?
            #error_explanation
              %h2= "#{pluralize(@recommendation.errors.count, "error")} prohibited this recommendation from being saved:"
              %ul
                - @recommendation.errors.full_messages.each do |msg|
                  %li= msg

          .field
            = f.label :like
            = f.check_box :like, :disabled => true
          .field
            = f.label :description, "Comments(optional)"
            = f.text_field :description
          .field
            = f.label :pics
            = f.file_field :pics

          = f.hidden_field :user_id, value: @recommendation.user_id

          / = f.hidden_field :restaurant_id, value: @recommendation.restaurant_id
          = f.hidden_field :restaurant_id, value: @temp_restaurant.yelp_restaurant_id

          = f.hidden_field :restaurant_name, value: @temp_restaurant.name
          / %hidden_field_tag{ :name => 'restaurant_name', :value => @temp_restaurant.name}
          / .actions
          /   = f.submit 'Save'
          %hr
          %button{ :type => "button", :class => "btn btn-default", :"data-dismiss" => "modal" } Close
          %button{ :type => "submit", :class => "btn btn-primary" } Save changes
      / .modal-footer
        
        
