/ recommedation modal
%div{:class => "modal fade", :id => "recModal", :tabindex => "-1", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close",  :"data-dismiss"=> "modal" } &times;

        %h4.modal-title#myModalLabel Make a recommedation

      .modal-body
        %h4 New Review
        = simple_form_for @recommendation do |f|
          - if @recommendation.errors.any?
            #error_explanation
              %h2= "#{pluralize(@recommendation.errors.count, "error")} prohibited this recommendation from being saved:"
              %ul
                - @recommendation.errors.full_messages.each do |msg|
                  %li= msg

          .field{:style => "display:none;"}
            = f.label :like
            = f.check_box :like, :disabled => true, :checked => true
          .field
            = f.label :description, "Comments"
            = f.text_area :description, :rows => 4, :cols => 60
          .field
            = f.label :pictures
            = f.file_field :pictures

          = f.hidden_field :yelp_id, value: "#{params[:yelp_id]}"
          = f.hidden_field :foursquare_id, value: "#{params[:foursquare_id]}"
          = f.hidden_field :google_id, value: "#{params[:google_id]}"
          = f.hidden_field :name, value: "#{params[:name]}"
          = f.hidden_field :location, value: "#{params[:location]}"

          %hr
          %button{ :type => "button", :class => "btn btn-default", :"data-dismiss" => "modal" } Close
          %button{ :type => "submit", :class => "btn btn-primary", :onClick => "_gaq.push(['_trackEvent', 'Search', 'Review Added', 'From Restaurant Search']);" } Save changes
      / .modal-footer


