%p#notice= notice

- @recommendations.each_with_index do |recommendation, index|
  .well
    %p
      %b Like:
      %input{:type => "checkbox", :checked => recommendation.like ? true : nil, :disabled => true}
    %p
      %b Description:
      = recommendation.description
    %p
      %b Rated by:
      = link_to "#{@friend_recommendations[index][:name]} <i class=\"fa fa-facebook\"></i>".html_safe, "http://facebook.com/profile.php?id=" + "#{@friend_recommendations[index][:fb_id]}"
    %p
      %b Restaurant:
      = recommendation.restaurant.name

    - if recommendation.pictures.file?
      %p
        = image_tag recommendation.pictures.url

= image_tag "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/3049d7633b6e/developers/reviewsFromYelpRED.gif"
- @reviews.each do |review|
  .well
    / %p
    /   = link_to '<img src="http://s3-media3.ak.yelpcdn.com/assets/2/www/img/3049d7633b6e/developers/reviewsFromYelpRED.gif"/>'.html_safe, @restaurant["url"]
    %p
      %b Description:
      = review["excerpt"]
    %p
      %img{:src => review["rating_image_small_url"]}
    %p
      %b Rated by:
      = link_to review["user"]["name"], "http://www.yelp.com/user_details?userid=#{review["user"]["id"]}"

- if @tips
  %h3= "Foursquare Rating"
  / %h3= "Foursquare Rating = " + "#{@venue["rating"]}"
  - @tips.items.each do |tip|
    .well
      / %p
      /   = link_to '<img src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png" width=115/>'.html_safe, @venue['canonicalUrl']
      %p
        %b Description:
        = tip.text
      %p
        %b Likes:
        = tip.likes.count
      %p
        %b Rated by:
        - name = "#{tip.user.firstName}"
        - if tip.user.lastName
          - name = name + " " + "#{tip.user.lastName}"
        = link_to name, "http://www.foursquare.com/user/" + "#{tip.user.id}"