%h1 News Feed
%div#recModalPlaceholder

- if !@recommendations.empty?
  .well{"align" => "center"}
    - @recommendations.each_with_index do |recommendation, index|
      %table.table.table-striped{:style=>"border: 1px; width: 100%; margin-bottom: 30px"}
        %tr
          %td
            %p
              = image_tag @friend_recommendations[index][:image], :class => "circular"
              = link_to "#{@friend_recommendations[index][:name]}".html_safe, recommendation_friendProfile_path(:recommendation_id => @friend_recommendations[index][:friendId], :fbId => @friend_recommendations[index][:fb_id])
            - if recommendation.pictures.file?
              %p
                = image_tag recommendation.pictures.url(:medium)
          %td
            %p
              %b Like:
              %input{:type => "checkbox", :checked => recommendation.like ? true : nil, :disabled => true}
            %p
              %b Description:
              = recommendation.description
            %p
              %b Restaurant:
              = link_to recommendation.restaurant.name, restaurants_recommendations_path(:yelp_id => recommendation.restaurant.yelp_id, :google_id => recommendation.restaurant.google_id, :foursquare_id => recommendation.restaurant.foursquare_id)
            %p
              = link_to 'More details', user_recommendation_path(current_user, recommendation)

            %p
              =link_to 'Like Restaurant', new_recommendation_path(:restaurant_id => recommendation.restaurant.yelp_id, :restaurant_name => recommendation.restaurant.name) , remote: true, "data-toggle" => "modal", "class" => "btn btn-primary", :onClick => "_gaq.push(['_trackEvent', 'Search', 'Review Added', 'From News Feed']);"