%div{:class => "modal fade", :id => "firstRestaurantModal", :tabindex => "-1", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close",  :"data-dismiss"=> "modal" } &times;

        %h4.modal-title#myModalLabel Make your first recommendations....
      .modal-body
        - @restaurants.each_with_index do |restaurant, index|
          .well.recs
            - @recommendation = current_user.recommendations.build
            = simple_form_for @recommendation do |f|
              - if @recommendation.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@recommendation.errors.count, "error")} prohibited this recommendation from being saved:"
                  %ul
                    - @recommendation.errors.full_messages.each do |msg|
                      %li= msg
              - if !restaurant.photos[0].nil?
                %img{:src => restaurant.photos[0].fetch_url(800), :width => "150"}
              %p
                %b Restaurant:
                = restaurant.name

              .field
                = f.label :like
                = f.check_box :like, :disabled => true, :checked => true
              .field
                = f.label :description, "Comments(optional)"
                = f.text_field :description
              .field
                = f.label :pictures
                = f.file_field :pictures

              = f.hidden_field :yelp_id, value: "#{restaurant.yelp_id}"
              = f.hidden_field :foursquare_id, value: "#{restaurant.foursquare_id}"
              = f.hidden_field :google_id, value: "#{restaurant.reference}"
              = f.hidden_field :name, value: "#{restaurant.name}"
              = f.hidden_field :location, value: "#{restaurant.vicinity}"

              %hr
              %button{ :type => "submit", :class => "btn btn-primary", :onClick => "_gaq.push(['_trackEvent', 'Search', 'Review Added', 'From first 5']);" } Save changes
        %hr
        %button{ :type => "button", :class => "btn btn-default", :"data-dismiss" => "modal" } Close


:coffee
  $(document).ready ->
    console.log "Document Ready!"
    $('#firstRestaurantModal').modal "show"

  $('.modal-body form').submit () ->
    debugger
    presentSubmitted = this
    ### valuesToSubmit = $(this).serialize() ###
    valuesToSubmit = new FormData $(this)[0]
    url = $(this).attr "action"
    $.ajax url,
          type: 'POST'
          data: valuesToSubmit
          cache: false,
          contentType: false
          processData: false
          success: (data, textStatus, jqXHR) ->
            if(textStatus == "success")
              parentWell = $(presentSubmitted).closest ".well"
              $(parentWell).html "Recommendation saved !!!"
            else
              parentWell = $(presentSubmitted).closest ".well"
              $(parentWell).append "oops there was an error :( please try again !!!"
            console.log "done"
    return false
