%div#recModalPlaceholder
- title "Home"
.row
  .col-md-3.column
    .nav.nav-stacked.sidenav{"data-offset-top" => "60", "data-spy" => "affix"}
      %ul#sidebar
        %li
          %b Cuisines
        %ul
          - @cuisines.each do |cuisine|
            %li= link_to cuisine, restaurants_path(:cuisine => cuisine)
  .col-md-9
    .well.well-registration{"align" => "center"}
      .alert.alert-info.alert-dismissable
        %button.close{"data-dismiss" => "alert"}
          &times;
        = "Current address: "
        %strong
          = @default_address.street + " " + @default_address.city + " " + @default_address.state

      %h1 Discover
      %hr
      = simple_form_for :search, :url => restaurants_path, :html => { :method => :get} do |f|
        .input-group.input-group-lg
          %span.input-group-addon
            %i.fa.fa-cutlery
          = f.input :term, :label => false, :placeholder => "Cuisine, restaurant or leave empty to search around you", :input_html => { :id => 'search-input', :class => 'form-control input-lg' }
        %hr
          .actions
            = f.submit 'Search', :class => 'btn btn-primary btn-lg'

    - if !@recommendations.empty?
      .well.news-feed{"align" => "center"}
        %h1 News Feed
        %hr
        - @recommendations.each_with_index do |recommendation, index|
          .well.recs
            .row
              .image.pull-left
                = image_tag @friend_recommendations[index][:image], :class => "circular"
              .bubble.pull-left
                %p
                  %b Restaurant:
                  = link_to recommendation.restaurant.name, restaurant_path(recommendation.restaurant)

                - if recommendation.pics.file?
                  %p
                    = image_tag recommendation.pics.url, :class => "circular"

                %p
                  %b Rated by:
                  = link_to "#{@friend_recommendations[index][:name]} <i class=\"fa fa-facebook\"></i>".html_safe, "http://facebook.com/profile.php?id=" + "#{@friend_recommendations[index][:fb_id]}"
                %p
                  %b Description:
                  = recommendation.description

                %p
                  =link_to 'Like Restaurant', new_recommendation_path(:restaurant_id => recommendation.restaurant.yelp_restaurant_id, :restaurant_name => recommendation.restaurant.name) , remote: true, "data-toggle" => "modal", "class" => "btn btn-primary"

    - if @first_login_restaurants != nil
      %modalFooter
        = render 'first'

:coffee
  $("#search-input").geocomplete
    types: ["establishment"]
    formatted_address: "#{current_user.addresses.first.full_address}"

