- title "Home"
.well.well-registration{"align" => "center"}
  %h1 Discover
  %hr
  = simple_form_for :search, :url => restaurants_path, :html => { :method => :get} do |f|
    .input-group.input-group-lg
      %span.input-group-addon
        %i.fa.fa-cutlery
      = f.input :term, :label => false, :placeholder => "What are you in the mood for?", :input_html => { :id => 'search-input', :class => 'form-control input-lg' }
    %hr
      .actions
        = f.submit 'Search', :class => 'btn btn-primary btn-lg'

.well.news-feed{"align" => "center"}
  %h1 News Feed
  %hr
  - i = 0
  - @recommendations.each do |recommendation|
    %p
      %b Like:
      / %input{:type => "checkbox", :checked}
      %input{:type => "checkbox", :checked => recommendation.like ? true : nil, :disabled => true}
      / :selected => recommendation.like,
      / = recommendation.like ? "Liked" : "Didn't like"
    %p
      %b Description:
      = recommendation.description
    %p
      %b Rated by:
      / = recommendation.user
      = @friendsFound[@friendsFoundIds[i]]["name"]
      = link_to '<i class="fa fa-facebook"></i>'.html_safe, @friendsFound[@friendsFoundIds[i]]["link"]

    %p
      %b Restaurant:
      = recommendation.restaurant.name

    - if recommendation.pics.file?
      %p
        = image_tag recommendation.pics.url
      
      -i = i + 1

:coffee
  $("#search-input").geocomplete
    types: ["establishment"]
    lat: "#{current_user.addresses.first.latitude}"
    lng: "#{current_user.addresses.first.longitude}"

