- title "Home"
.container
  %h1 
    = link_to 'My recommendations', recommendations_path
  %p Find me in app/views/home/index.html.haml

  .well.well-registration{"align" => "center"}
    %h2 Discover good eats
    / = form_for @search, :url => search_home_index_path, :html => { :method => :post 	} do |f|
    = form_for @search, :url => restaurants_path, :html => { :method => :get } do |f|
    
      .field
        = f.label :address
        = f.text_field :full_address
      %hr
      .actions
        = f.submit 'Search', :class => 'btn btn-primary btn-lg'

  .well.well-registration{"align" => "center"}
    %h2 News Feed
    - i = 0
    - @recommendations.each do |recommendation|
      %p
        %b Like:
        / %input{:type => "checkbox", :checked}
        %input{:type => "checkbox", :checked => recommendation.like ? true : nil, :disabled => true}
        / :selected => recommendation.like,
        / = recommendation.like ? "Liked" : "Didn't like"
      %p
        %b Description:
        = recommendation.description
      %p
        %b Rated by:
        / = recommendation.user
        = @friendsFound[@friendsFoundIds[i]]["name"]
        = link_to 'Profile', @friendsFound[@friendsFoundIds[i]]["link"]
      %p
        %b Restaurant:
        = recommendation.restaurant.name
        -i = i + 1
    