- title "Welcome"

#welcome-carousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#welcome-carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#welcome-carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#welcome-carousel"}
  .carousel-inner
    / Carousel Slide 1
    #slide-1.item.active
      .container
        .col-md-6.carousel-banner
          / %h2= Forgery(:lorem_ipsum).words(10)
          %h2 Welcome to Foodee... We help you find good eats and rate em online
          %p Sign Up with us, start searching restaruants, and make recommendations that your friends could use !!
        .col-md-6.welcome-image
          = image_tag("burgers.jpeg")

    / Carousel Slide 2
    #slide-2.item
      .container
        .col-md-7.carousel-banner
          %h2 Too many useless reviews ??
          %p  No need to sift through hundreds of random reviews, you'll get only what your friends have recommended. And you can be even more specific by starring the "foodees" in your circle.
        .col-md-5.welcome-image
          = image_tag("merengue.jpg")

    / Carousel Slide 3
    #slide-3.item
      .container
        .col-md-7.carousel-banner
          %h2 Build your rep as true Foodee
          %p The more you review the higher your status on the site, and the more the weight that is given to your suggestions.
        .col-md-5.welcome-image
          = image_tag("ramen.jpg")
  / /.carousel-inner
  %a.left.carousel-control.visible-md.visible-lg{"data-slide" => "prev", href: "#welcome-carousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control.visible-md.visible-lg{"data-slide" => "next", href: "#welcome-carousel"}
    %span.glyphicon.glyphicon-chevron-right

/ Section Tagline
%section#section-tagline.section-page
  .container
    / %h2= Forgery(:lorem_ipsum).words(10)
    /%p= Forgery(:lorem_ipsum).words(30)
    %h2 We will get you all the reviews you need and more
    %p We have started with external reviews from Yelp and Foursquare, but the most important resource for your friends is you !!! So login and start rating.....
/ Section Services
%section#section-services.section-page
  .container
    .head-section
      %h1 Services
      / %p= Forgery(:lorem_ipsum).words(15)
    / /.head-section
    %br/
    %br/
    .row
      %article.col-md-4.services-box
        .services-icon
          .center-icon
            %i.fa.fa-cutlery.fa-7x
        %h4 Search Online
        %p Find a place you like, enter your address, read the reviews from all the sources here. No more browsing through google results...
      / /#service_1
      %article.col-md-4.services-box
        .services-icon
          .center-icon
            %i.fa.fa-globe.fa-7x
        %h4 We're gonna be global
        %p Starting out with Columbia uni just now.... :)
      / /#service_2
      %article.col-md-4.services-box
        .services-icon
          .center-icon
            %i.fa.fa-group.fa-7x
        %h4 Places reviewed by friends
        %p Nobody knows your taste better than your friends, except your Mom maybe, find places they've reviewed and make your suggestions as well

/ Section Team
%section#section-team.section-page
  .container
    .head-section
      %h2 Our Team
      %p Foodee's through and through
    / /.head-section
    %br/
    .row
      .person.col-md-4
        = image_tag("pranav.jpg", class: "person-avatar img-circle", width: "150", height: "150", alt: "Pranav Bhalla" )
        %h4.person-name Pranav Bhala
        %span.person-skills Developer / UI & UX Design
        %hr
        %ul.list-links-social
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin
          %li
            %a{href: "#"}
              %i.fa.fa-github
        / /#list-links-social
      / /#person_1
      .person.col-md-4
        = image_tag("dan.jpg", class: "person-avatar img-circle", width: "150", height: "150", alt: "Daniel Garzon" )
        %h4.person-name Daniel Garzon
        %span.person-skills Developer / UI & UX Design
        %hr
        %ul.list-links-social
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin
          %li
            %a{href: "#"}
              %i.fa.fa-github

        / /#list-links-social
      / /#person_2
      .person.col-md-4
        = image_tag("shehzad.jpg", class: "person-avatar img-circle", width: "150", height: "150", alt: "Shehzad Khan" )
        %h4.person-name Shehzad Khan
        %span.person-skills CEO
        %hr
        %ul.list-links-social
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
          %li
            %a{href: "#"}
              %i.fa.fa-facebook
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin
          %li
            %a{href: "#"}
              %i.fa.fa-github
        / /#list-links-social
      / /#person_3

%section#section-contact.section-page
  .container
    .head-section
      %h2 Contact Us
    / /.head-section
    #links-contact
      %a.twitter{href: "#", title: ""}
      %a.facebook{href: "#", title: ""}
      %a.linkedin{href: "#", title: ""}
      %a.google-plus{href: "#", title: ""}
      %a.github{href: "#", title: ""}