%p#notice= notice

%div{:class => "modal fade", :id => "friendRecModal", :tabindex => "-1", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close",  :"data-dismiss"=> "modal" } &times;
          
        %h4.modal-title#myModalLabel 
          - if @recommendations
            Friends Recommendation
          - else
            External Reviews

      -i = 0
      .modal-body
        - if @recommendations
          - @recommendations.each do |recommendation|
            .well.recs
              %p
                = image_tag @profilePicUrls[i]

              %p
                %b Restaurant:
                = link_to recommendation.restaurant.name, restaurant_path(recommendation.restaurant)

              - if recommendation.pics.file?
                %p
                = image_tag recommendation.pics.url

              %p
                %b Rated by:
                / = recommendation.user
                = link_to "#{@friendsFound[@friendsFoundIds[i]]["name"]} <i class=\"fa fa-facebook\"></i>".html_safe, @friendsFound[@friendsFoundIds[i]]["link"]

              %p
                %b Description:
                = recommendation.description

              / %p
              /   %b Like:
              /   %input{:type => "checkbox", :checked}
              /   %input{:type => "checkbox", :checked => recommendation.like ? true : nil, :disabled => true}
              /   :selected => recommendation.like,
              /   = recommendation.like ? "Liked" : "Didn't like"
            -i = i + 1


        / adding yelp reviews
        - if @yelpReviews
          - @yelpReviews.each do |review|
            .well.recs
              %p
                = link_to '<img src="http://s3-media3.ak.yelpcdn.com/assets/2/www/img/3049d7633b6e/developers/reviewsFromYelpRED.gif"/>'.html_safe, @restaurant["url"]
              %p
                %b Description:
                =review["excerpt"]
              %p
                %img{:src => review["rating_image_small_url"]}
              %p
                %b Rated by:
                =link_to review["user"]["name"], "http://www.yelp.com/user_details?userid=#{review["user"]["id"]}"


        %hr
          %button{ :type => "button", :class => "btn btn-default", :"data-dismiss" => "modal" } Close
          %button{ :type => "button", :class => "btn btn-primary" } Save changes