- title "Results"

%div#recModalPlaceholder
%div#friendRecModalPlaceholder

.packery
  - @restaurants.each do |restaurant|
    .item
      = link_to restaurants_recommendations_path(:yelp_id => restaurant.yelp_id, :yelp_rating => restaurant.yelp_rating, :google_id => restaurant.reference, :google_rating => restaurant.rating, :foursquare_id => restaurant.foursquare_id, :foursquare_rating => restaurant.foursquare_rating, :weighted_rating => restaurant.weighted_rating) do
        %h2.restaurant-name= restaurant.name
        - if restaurant.vicinity.nil? && !restaurant.formatted_address.nil?
          %h5.restaurant-address= restaurant.formatted_address
        - elsif restaurant.formatted_address.nil? && !restaurant.vicinity.nil?
          %h5.restaurant-address= restaurant.vicinity
        - elsif !restaurant.formatted_address.nil? && !restaurant.vicinity.nil?
          %h5.restaurant-address= restaurant.formatted_address
        .item-image
          - if restaurant.photos[0]
            %img{:src => restaurant.photos[0].fetch_url(800)}
          - else
            = image_tag("image_not_found.jpg", alt: "Not Found" )
        %ul.item-subnav.pull-right
          %li.item-google
            %i.fa.fa-google-plus
            %span.item-google-rating= restaurant.rating
          %li.item-yelp
            %i.icon-yelp
            %span.item-yelp-rating= restaurant.yelp_rating
          %li.item-foursquare
            %i.fa.fa-foursquare
            %pan.item-foursquare-rating= restaurant.foursquare_rating
          %li.item-weighted
            %i.fa.fa-star
            %span.item-weighted-rating= restaurant.weighted_rating
          %li.item-recommend
            - if restaurant.vicinity.nil? && !restaurant.formatted_address.nil?
              = link_to new_recommendation_path(:google_id => restaurant.reference, :yelp_id => restaurant.yelp_id, :foursquare_id => restaurant.foursquare_id, :name => restaurant.name, :location => restaurant.formatted_address) , remote: true, "data-toggle" => "modal" do
                %i.fa.fa-thumbs-up Like
            - elsif restaurant.formatted_address.nil? && !restaurant.vicinity.nil?
              = link_to new_recommendation_path(:google_id => restaurant.reference, :yelp_id => restaurant.yelp_id, :foursquare_id => restaurant.foursquare_id, :name => restaurant.name, :location => restaurant.vicinity) , remote: true, "data-toggle" => "modal" do
                %i.fa.fa-thumbs-up Like
            - elsif !restaurant.formatted_address.nil? && !restaurant.vicinity.nil?
              = link_to new_recommendation_path(:google_id => restaurant.reference, :yelp_id => restaurant.yelp_id, :foursquare_id => restaurant.foursquare_id, :name => restaurant.name, :location => restaurant.formatted_address) , remote: true, "data-toggle" => "modal" do
                %i.fa.fa-thumbs-up Like

:coffee
  doPackery = ->
    onResize = ->
      outsideSize = getSize($container.parent()[0]).innerWidth
      cols = Math.floor(outsideSize / (columnWidth))

      # set container width to columns
      if cols != 1
        $container.width cols * columnWidth - gutter
      else
        $container.width cols * columnWidth - 20

      # manually trigger layout
      $container.packery()
      return

    $container = $(".packery")
    # initialize Packery after all images have loaded
    $container.imagesLoaded ->
      $container.packery
        itemSelector: ".item"
        transitionDuration: "0.8s"
        columnWidth: 350
        gutter: 20
        isResizeBound: false

      return

    pckry = $container
    gutter = 20 or 0
    columnWidth = 370

    # debounce resize event
    resizeTimeout = undefined
    $(window).on "resize", ->
      clearTimeout resizeTimeout  if resizeTimeout
      resizeTimeout = setTimeout(onResize, 100)
      return


    # initial trigger
    onResize()
    return

  $(document).ready ->
    doPackery()
    return