%div#recModalPlaceholder
%div#friendRecModalPlaceholder
%h1 Listing restaurants

%table{:style=>"border: 1px; width: 100%"}
  %tr
    %th
    %th Name
    %th Location
    %th Review Count
    %th Yelp Rating
    %th Recommend
  - @restaurants.each do |restaurant|
    %tr
      %td
        %img{:src => restaurant['image_url']}
      %td= restaurant['name']
      %td= restaurant['location']['address']
      %td= restaurant['review_count']
      %td
        %img{:src => restaurant['rating_img_url_small']}
      %td= link_to 'Like Restaurant', new_recommendation_path(:restaurant_id => restaurant['id'], :restaurant_name => restaurant['name']) , remote: true, "data-toggle" => "modal"
      %td= link_to 'View friend ratings', restaurant_recommendations_path(:restaurant_id => restaurant['id']) , remote: true, "data-toggle" => "modal"
