%h1 Listing restaurants

%table
  %tr
    %th Name
    %th Location
    %th Review Count
    %th Rating
    %th
    %th
    %th

  - @restaurants['businesses'].each do |restaurant|
    %tr
      %td= restaurant['name']
      %td= restaurant['location']['address']
      %td= restaurant['review_count']
      %td= restaurant['rating']
      %td= link_to 'Show', restaurant
      %td= link_to 'Edit', edit_restaurant_path(restaurant)
      %td= link_to 'Destroy', restaurant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Restaurant', new_restaurant_path
