/ .recModalPlaceholder 
/   = render :partial => "make_rec"
%div#recModalPlaceholder
%h1 Listing restaurants

%table
  %tr
    %th Name
    %th Location
    %th Review Count
    %th Rating
    %th Recommend
    / %th
    / %th

  - @restaurants['businesses'].each do |restaurant|
    %tr
      %td= restaurant['name']
      %td= restaurant['location']['address']
      %td= restaurant['review_count']
      %td= restaurant['rating']
      / %td= link_to 'Make a recommendation', "#recModal", "data-toggle" => "modal"
      %td= link_to 'Make a recommendation', new_recommendation_path(:restaurant_id => restaurant['id']) , remote: true, "data-toggle" => "modal"
      / %td= link_to 'Edit', edit_restaurant_path(restaurant)
      / %td= link_to 'Destroy', restaurant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Restaurant', new_restaurant_path
