%p#notice= notice

.well
  %p
    %b
      %h2
        = @restaurant['name']

  %p
    %img{:src => 'http://s3-media3.ak.yelpcdn.com/assets/2/www/img/3049d7633b6e/developers/reviewsFromYelpRED.gif', :alt => '# of rating and their average', :width => "115", :height => "25" }
    %img{:src => @restaurant['rating_img_url_large']}

  %p
    %img{:src => @restaurant['image_url']}

  %p
    %b Location:
    = @restaurant['location']['address'][0]
    ,
    = @restaurant['location']['city']
    ,
    = @restaurant['location']['state_code']
    ,
    = @restaurant['location']['postal_code']

/ = link_to 'Edit', edit_restaurant_path(@restaurant)
/ \|
/ = link_to 'Back', restaurants_path
