%h1 Listing addresses

%table
  %tr
    %th Full Address
    %th
    %th
    %th

  - @addresses.each do |address|
    %tr
      %td= address.full_address
      %td= link_to 'Show', [current_user, address]
      %td= link_to 'Edit', edit_user_address_path(current_user, address)
      %td= link_to 'Destroy', [current_user, address], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Address', new_user_address_path
