%p#notice= notice

%p
  %b Full:
  = @address.full_address
%p
  %b Street:
  = @address.street
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Latitude:
  = @address.latitude
%p
  %b Longitude:
  = @address.longitude

= link_to 'Edit', edit_user_address_path(current_user, @address)
\|
= link_to 'Back', user_addresses_path(current_user)
