%p#notice= notice

%p
  %b Street:
  = @address.street
%p
  %b Zip:
  = @address.zip
%p
  %b User:
  = @address.user

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
