%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#main-navbar", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
        Foodee
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        / - if user_signed_in?
        %li= link_to "Home", home_index_path, method: :get
        %li= link_to "My Recommendations", recommendations_path, method: :get
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Log In", new_user_session_path