%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#main-navbar", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Foodee", passthrough_index_path, :class => "navbar-brand"
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.divider-vertical
          %li= link_to "Dashboard", home_index_path
          %li.divider-vertical
          %li= link_to "My Recommendations", recommendations_path
          %li.divider-vertical
          %li.hidden-sm.hidden-md.hidden-lg= link_to "Add Address", new_user_address_path(current_user)
          %li.hidden-sm.hidden-md.hidden-lg= link_to "Logout", destroy_user_session_path, method: :delete
          %li.dropdown.visible-sm.visible-md.visible-lg
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %i.fa.fa-cog
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header Settings
              %li.divider
              %li= link_to "Add Address", new_user_address_path(current_user)
              %li= link_to "Logout", destroy_user_session_path, method: :delete
          %li.divider-vertical
        - else
          %li.divider-vertical
          %li= link_to "Sign Up", new_user_registration_path
          %li.divider-vertical
          %li= link_to "Log In", new_user_session_path
          %li.divider-vertical
