%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header{:style => 'display: flex;'}
      %button.navbar-toggle{"data-target" => "#main-navbar", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Foodee", passthrough_index_path, :class => "navbar-brand"
      -if !@homePage
        = simple_form_for :search, :url => restaurants_path, :html => { :method => :get} do |f|
          .input-group.col-lg-12{:style => 'margin-right: 17em;'}
            = f.input :term, :label => false, :placeholder => "Cuisine, restaurant or leave empty to search around you", :input_html => { :id => 'search-input', :class => 'form-control input-lg' }
            .actions{:style => 'display: -webkit-box;'}
              = f.submit 'Search', :class => 'btn btn-warning btn-lg', :style => 'margin-left: 0.5em;', :onClick => "_gaq.push(['_trackEvent', 'Search', 'Search Done', 'Home Search']);"
             
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.divider-vertical
          %li= link_to "Dashboard", home_index_path
          %li.divider-vertical
          %li= link_to "My Recommendations", recommendations_path, :onClick => "_gaq.push(['_trackEvent', 'Search', 'Review Viewed', 'My Recommendations']);"
          %li.divider-vertical
          %li.hidden-sm.hidden-md.hidden-lg= link_to "Add Address", new_user_address_path(current_user)
          %li.hidden-sm.hidden-md.hidden-lg= link_to "Logout", destroy_user_session_path, method: :delete
          %li.dropdown.visible-sm.visible-md.visible-lg
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %i.fa.fa-cog
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header Settings
              %li.divider
              %li= link_to "Account", edit_user_registration_path
              %li= link_to "Addresses", user_addresses_path(current_user)
              %li= link_to "Logout", destroy_user_session_path, method: :delete
          %li.divider-vertical
        - else
          %li.divider-vertical
          %li= link_to "Sign Up", new_user_registration_path
          %li.divider-vertical
          %li= link_to "Log In", new_user_session_path
          %li.divider-vertical
